* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #060923;
    width: 100vw;
}

body, button {
    font-family: 'Roboto', sans-serif;
}

.erro {
    background-color: #DF4D44;
    color: white;
    text-align: center;
    padding: .25rem;
}

.container {
    height: 100vh; 
    display: grid;
    place-content: center;
    position: relative;
}

main {
    background-color: white;
    width: 21.875rem;
    margin: 0 auto;
    padding: 3.125rem;
    border-radius: .25rem;
}

h1 {
    padding-bottom: 1.5rem;
}

label {
    display: block;
    padding-bottom: .25rem;
}

input {
    display: block;
    padding: 1rem;
    border: 1px solid rgb(66, 202, 243);
    border-radius: .25rem;
    background-color: rgb(230, 230, 230);
    width: 100%;
}

#idPeso {
    margin-bottom: 1rem;
}

form button {
    background-color: #317699;
    margin-top: 2rem;
    padding: 1rem;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: .25rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    cursor: pointer;
}

form button::after {
    content: "";
    background: url(../images/iconmonstr-arrow-right-thin.svg) no-repeat;
    display: inline-block;
    
    width: 25px;
    height: 25px;
}

.modal {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    inset: 0;  

    display: grid;
    place-content: center;
}

.modal__card {
    background-color: white;
    width: 18.75rem;
    margin: 0 auto;
    padding: 3.125rem;
    border-radius: .25rem;
    text-align: center;

    position: relative;
}

.modal__button-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 1rem 0 0;
    cursor: pointer;
    background: none;
    border: none;
}

.hide {
    display: none;
}