@media screen and (min-width: 768px){
    main {
        width: clamp(768px, 100%, 1400px);
        margin: 0 auto;
        height: 100vh;
        padding: 2rem;
    }
    
    form {
        padding: 2rem 1rem 0 1rem;
    }
}

@media screen and (min-width: 1024px){
    .content__form {
        justify-content: center;
    }

    .inputs__form {
        flex-direction: row !important;
        flex-wrap: wrap;
        justify-content: flex-start !important;

        div {
            width: 48%;
        }
    }
}
