// Variáveis
$primary-color: #333;
$background-color: #f0f0f0;
$button-background-color: #333;
$input-border-color: #ccc;
$task-done-color: #4CAF50;
$hover-color: #f0f0f0;
$delete-button-color: #ff3333;
$checkbox-hover-color: #4CAF50;

// Estilos globais
body {
    font-family: Arial, sans-serif;
    background-color: $background-color;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: $primary-color;
    color: #fff;
    padding: 10px 0;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 400px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
}

.task-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label {
        margin: 0 10px 8px 0;
        text-align: center;
    }

    .input-btn {
        display: flex;
    }

    input[type="text"] {
        flex-grow: 1;
        padding: 10px;
        border: 1px solid $input-border-color;
        border-radius: 5px 0 0 5px;
        outline: none;
    }

    button#add-task {
        background-color: $button-background-color;
        color: #fff;
        border: none;
        padding: 10px 15px;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        outline: none;
    }

    .error-message {
        color: red;
        font-size: 14px;
        display: none;
        margin-top: 4px;
    }
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    transition: background-color 0.3s ease;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        background-color: $hover-color;
    }

    &.completed {
        background-color: $task-done-color;
        color: #fff;

        span {
            text-decoration: line-through;
        }

        .complete-button i {
            color: $checkbox-hover-color;

            &:hover {
                color: $primary-color;
                transition: .5s ease;
            }
        }
    }

    span {
        max-width: 248px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.complete-button {
    margin-right: 8px;
}

.complete-button,
.delete-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.complete-button i,
.delete-button i {
    font-size: 18px;
    color: $primary-color;
}

.complete-button:hover i {
    color: $checkbox-hover-color;
}

.delete-button:hover i {
    color: $delete-button-color;
}

.task-done {
    background-color: $task-done-color;
    color: #fff;
    text-decoration: line-through;
}

.fa-check,
.fa-trash {
    padding: 0 8px 0 8px;
}

/* Estilos para o modal */
.modal {
    position: fixed;    
    inset: 0;
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
}

/* Estilos para o conteúdo do modal */
.modal-content {
    position: relative;
    background-color: #fff; /* Fundo do modal */
    margin: 10% auto; /* Centraliza verticalmente na tela */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para efeito de elevação */
    max-width: 80%; /* Largura máxima do modal */
}

/* Estilos para o botão de fechar o modal */
.close-button {
    position: absolute;
    padding: .5rem;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
