@font-face {
    font-family: "Capsmall";
    src: url("/landing_page/assets/fonts/Capsmall.ttf") format("woff2");
}

@font-face {
    font-family: "Fires";
    src: url("/landing_page/assets/fonts/FIRES\ PERSONAL\ USE.ttf") format("woff2");
}