@media screen and (min-width: 2560px){
    main {
        flex-direction: column;
    }

    aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    img {
        max-width: 100%;
    }
}

@media screen and (max-width: 1120px) {
    img {
        max-width: 100%;
    }

    aside h2 {
        font-size: 2.7rem;
    }
}


@media screen and (max-width: 930px) {
    header {
        flex-direction: column;
    }

    header ul {
        text-align: center;
        margin-top: 10px;
    }
    
    main {
        flex-direction: column;
        padding: 10px;
    }

    input {
        width: 80%;
    }
}