* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    min-height: 100vh;
    background: url(/landing_page/assets/images/922129-min.png) center center no-repeat;
    background-size: cover;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    font-size: 1.2rem;
}

.logo {
    font-family: 'Fires';
    text-align: center;
    font-size: 1.4rem;
    line-height: 0.8;
}

.number {
    font-size: 5rem;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    color: black;
    font-family: 'Capsmall';
    transition: 0.6s;
}

a:hover {
    color: #F32B3A;
}

li:nth-child(5) {
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
}

li:nth-child(5):hover {
    background-color: black;
}

main {
    display: flex;
    gap: 50px;
    padding: 30px;
}

aside h2 {
    font-size: 4rem;
    font-family: 'Capsmall';
    font-weight: 500;
    max-width: 600px;
    line-height: 0.8;
}

span {
    color: #F32B3A;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    font-variant: small-caps;
    color: rgb(75, 71, 71);
    margin: 30px 0;
}

form {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form [type="submit"] {
    width: 200px;
    background-color: #F32B3A;
    cursor: pointer;
}

form [type="submit"]:hover {
    background-color: #641218;
    transition: 0.5s;
    color: white;
}

input {
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 1.2rem;
}

article {
    margin: auto;
}

img {
    max-width: 600px;
    border-radius: 10px;
}