$engineering-orange: #d00000ff;
$selective-yellow: #ffba08ff;
$steel-blue: #3f88c5ff;
$prussian-blue: #032b43ff;
$pine-green: #136f63ff;
$rubik: 'Rubik', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: $rubik;
}

@mixin display-flex($display,$align,$justify) {
    display: $display;
    align-items: $align;
    justify-content :$justify;
}

.hide {
    display: none !important;
}

