@media screen and (min-width: 1064px){
    section.section__tasks {
        gap: 0 1rem;
    }

    div.div__task {
        max-width: 31.25rem;
        padding: 2rem;
    }

    button {
        font-size: calc(1rem + 1vw);
    }

    .add__task {
        
        .div__input {        
            position: relative;

            input#addTask {
                padding: 2rem;

                &::placeholder {
                    font-size: calc(1rem + .5vw);
                }

                &:not(:placeholder-shown) + label {
                    top: -.5rem;
                    font-size: 12rem;
                    padding: 0 .25rem;
                }

                &:focus + label {
                    background-color: $selective-yellow;
                    padding: 0 .25rem;
                    top: -.5rem;
                    font-size: 14px;
                    color: $prussian-blue;
                    transition: all .5s ease;
                }
            }

            .div__input label {
                position: absolute;
                top: 2rem;
                left: 1rem;
                color: $steel-blue;
            }
        }
    }       
}