@import './base.scss';
@import './media-queries.scss';

.container {
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    background-color: $prussian-blue;
    text-align: center;
    @include display-flex(flex, center, center);

    main {
        width: clamp(17.2969rem, 100%, 64.5rem);
        font-size: clamp(1rem, 1rem + 1vw, 2vw);
    }

    h1 {
        color: $selective-yellow;
    }

    .add__task, .div__input, #addTask {
        width: 100%;
    }

    .add__task {
        margin-top: 2rem;

        .textError {
            color: $engineering-orange;
            display: block;
            text-align: start;
        }

        .div__input-add {
            display: flex;
        }
        
        .div__input {        
            position: relative;

            input {
                padding: 1rem;
                border-radius: .25rem 0 0 .25rem;

                &::placeholder {
                    opacity: 0;
                    visibility: hidden;
                }

                &:focus {
                    outline: 2px solid $selective-yellow;
                }

                &:focus::placeholder {
                    opacity: 1;
                    visibility: visible;
                    color: $steel-blue;
                }

                &:not(:placeholder-shown) + label {
                    top: -.5rem;
                    font-size: 14px;
                    background-color: $selective-yellow;
                    padding: 0 .25rem;
                    color: $prussian-blue;
                }

                &:focus + label {
                    background-color: $selective-yellow;
                    padding: 0 .25rem;
                    top: -.5rem;
                    font-size: 14px;
                    color: $prussian-blue;
                    transition: all .5s ease;
                }
            }

            label {
                position: absolute;
                top: 1rem;
                left: 1rem;
                color: $steel-blue;
            }
        }

        button {
            padding: 1rem;
            border-radius:  0 .25rem .25rem 0;
            background-color: $steel-blue;
            color: white;
            cursor: pointer;

            &:hover {           
                scale: (1.05);
                filter:saturate(2);
                transition: scale .5s ease;
            }
        }
    }

    .section__tasks {
        display: flex;
        flex-wrap: wrap;
        gap: .25rem;
        margin-top: 1rem;
        background-color: white;
        border-radius: .25rem;
        padding: .5rem;

        .div__task {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: .5rem;
            height: 48px;
            padding: 1rem;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.199);
            width: 100%;

            .input__check {
                display: flex;
                align-items: center;
                gap: .5rem;
                width: 80%;

                input[type="checkbox"] {
                    accent-color: $pine-green;
                }

                label {
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }

            .icons {
                display: flex;
                gap: 1rem;

                .fa-regular {
                    cursor: pointer;
                }

                .fa-pen-to-square {
                    color: $selective-yellow;
                }

                .fa-trash-can {
                    color: red;
                }
            }
        }
    }
}